.wrapper {
    width: 80%;
    height: 100%;
    max-width: 1600px;
    margin: 0 auto;
  }

.header {
    height: 80vh;

    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.form {
    &__fieldset {
        border: none;
        display: flex;
        flex-direction: column;
    }

    &__legend {
        margin: 0 auto 1rem auto;
    }

}