body {
  background: linear-gradient(150deg, $lightBlue, $offWhite);
  min-height: 100vh;
}

.wrapper {
    width: 80%;
    height: 100%;
    max-width: 1600px;
    margin: 0 auto;
  }

.header {
    height: 80vh;

    &__curve {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      overflow: hidden;
      line-height: 0;
      transform: rotate(180deg);

      & svg {
        position: relative;
        display: block;
        width: calc(129% + 1.3px);
        height: 60px;
      }

      &-transparent {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
        transform: rotate(180deg);
        opacity: 0.3;

        & svg {
          position: relative;
          display: block;
          width: calc(161% + 1.3px);
          height: 130px;
        }
      }
    }


    &__container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding-top: 3%;

        &__text {
          width: 30vw;
          margin: 0 9%;
          text-align: center;

          & h1 {
            margin: 10% 0 3% 0;
            font-family: 'Ubuntu', sans-serif;
            font-weight: 500;
            letter-spacing: 3px;
            
          }

          & select {
            font-family: inherit;
          }
          
        }

        &__img {
          width: 38vw;
        }
    }

    &__animation {
        animation: disappear .5s ease-in-out forwards
    }
}

.form {
    &__fieldset {
        border: none;
        display: flex;
        flex-direction: column;
    }

    &__legend {
        margin: 0 auto 1rem auto;
        font-size: 1.1rem;
    }

    &-control {
      display: flex;
      flex-direction: column;
      margin-top: 2%;
      text-align: left;

      & label {
        margin-bottom: 2%;
        font-size: 0.9rem;
      }

      & select {
        appearance: none;
        margin-bottom: 5%;
        padding: 3%;
        border: none;
        border-radius: 10px;
      }
    }

}

.main {
    &__container {
        background-color: grey;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 50vw;
        height: 30vw;
        border-radius: 2rem;
        animation: appear 1.5s ease-in-out forwards;
    }

    &__heading {
        text-align: center;
        margin: 2%;
    }
}

footer {
  display: flex;
  flex-direction: column;
  margin-top: 5vw;
  text-align: center;
  font-size: .7rem;
  line-height: 2;

  & a {
    color: black;
    text-decoration: none;
  }
}

.displayNone {
    display: none;
}

.shape-fill {
  fill: $white;
}



// Animations

.slideUp {
  animation: slideUp .8s ease-in-out forwards;
}

.slideIn {
  animation: slideIn .8s ease-in-out forwards;
}

@keyframes disappear {
    0% {
      opacity: 1;
    }
  
    100% {
      opacity: 0;
    }
  }
  
  @keyframes appear {
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
  }

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(10%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateX(15%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}