body {
  background: linear-gradient(150deg, #8ba3fa, #bdc8f1);
  min-height: 100vh;
}

.wrapper {
    width: 80%;
    height: 100%;
    max-width: 1600px;
    margin: 0 auto;
  }

.header {
    height: 80vh;

    &__curve {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      overflow: hidden;
      line-height: 0;
      transform: rotate(180deg);

      & svg {
        position: relative;
        display: block;
        width: calc(129% + 1.3px);
        height: 60px;
      }

      &-transparent {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
        transform: rotate(180deg);
        opacity: 0.3;

        & svg {
          position: relative;
          display: block;
          width: calc(161% + 1.3px);
          height: 130px;
        }
      }
    }


    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__animation {
        animation: disappear .5s ease-in-out forwards
    }
}

.form {
    &__fieldset {
        border: none;
        display: flex;
        flex-direction: column;
    }

    &__legend {
        margin: 0 auto 1rem auto;
    }

}

.main {
    &__container {
        background-color: grey;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 50vw;
        height: 30vw;
        border-radius: 2rem;
        animation: appear 1.5s ease-in-out forwards;
    }

    &__heading {
        text-align: center;
        margin: 2%;
    }
}

.displayNone {
    display: none;
}

.shape-fill {
  fill: #fff;
}

@keyframes disappear {
    0% {
      opacity: 1;
    }
  
    100% {
      opacity: 0;
    }
  }
  
  @keyframes appear {
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
  }